*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: linear-gradient(to bottom,rgba(180, 100, 100, 0.9),rgba(90, 20, 20, 0.8));
}
header{
    font-size: 30px;
    text-align: center;
    font-family: 'SEGOE PRINT';
    font-weight: 300;
    margin-bottom: 50px;
    margin-top: 30px;
    
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container11{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.container1{
    width:40%;
    margin: 30px 0px;
    font-family: 'COURIER';
    font-size: 25px;
    font-weight: 520;
    color: rgb(90, 20, 20);
    text-align: justify;
}


nav{
    width: 50%;
    margin: auto;
    font-family: 'COURIER';
    font-size: 25px;
    font-weight: 520;
}
.main{
    display: flex;
    justify-content: space-around;
}
.sub-menu-parent {
    position: relative;
    color: #FFE4E1;
}
.sub-menu { 
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
nav a { background-color: rgba(180, 100, 100, 0.9); display: block; padding: 0.5em 1em; text-decoration: none; color:white; }
nav a:hover { color: #FFE4E1; background: rgba(90, 20, 20, 0.3); }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: rgba(90, 20, 20, 0.3); text-align: center; }
nav > ul > li { display: inline-block; border: solid 1px rgba(90, 20, 20, 0.3); }
nav > ul > li:first-child { border-left: solid 1px rgba(90, 20, 20, 0.3); }

.sub-menu {
    background: rgba(90, 20, 20, 0.3);
}

.header1{
    margin: 15px 15%;
    font-family: 'SEGOE PRINT';
    font-weight: 300;
    font-size: 60px;
}
.container3{
    width: 1400px;
    height: 600px;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}
.container6{
    display: flex;
    justify-content: space-around;
    margin: 0px;
}
.container12{
    margin: 0px;
    display: flex;
    justify-content: space-around;
}
.card{
    display: inline-block;
    height: 604px;
    width: 354px;
    margin: 0px;
    padding: 0px;
    border: 2px solid rgba(90, 20, 20, 0.9);
    box-shadow: 0px 0px 110px 20px rgba(190, 100, 100, 0.9);
}

.header2{
    margin: 15px 15%;
    font-family: 'SEGOE PRINT';
    font-weight: 300;
    font-size: 60px;
}
.trend{
    margin: 15px 10%;
    font-family: 'GABRIOLA';
    text-align: justify;
    font-size: 40px;
    font-weight: 520;
}


footer{
    background-color: rgba(90, 20, 20,0.6);
    width: 100%;
}
.container4{
    width: 100%;
    height: 180px;
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content:space-around;
    display: inline-block;
    font-family: monospace;
    font-size: 20px;
}
.container9{
    display: flex;
    justify-content: space-around;
}
.container5{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.container10{
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.links{
    margin: auto;
    text-decoration: none;
    color: #FFE4E1;
}
.fa-arrow-alt-circle-up{
    font-size: 60px;
    color: #FFE4E1;
}




/* SCROLL DESIGN */
::-webkit-scrollbar-button {


width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:rgba(190, 100, 100, 0.9);
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:rgba(90, 20, 20, 0.9);
}

::-webkit-scrollbar-thumb:hover{
background-color: rgba(140, 40, 40, 0.8);
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 8px;
}



@media (max-width: 1040px) {
    .container8{
        margin: auto;
    }
    .container3{
        width: 715px;
        height: 1200px;
        margin: auto;
        width: 50%;
    }
    .container6{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .container11{
        width:70%;
        margin: auto;
    }
    .container1{
        width:45%;
    }
    .header2{
        margin: 30px 5%;
    }
    .trend{
        margin: 15px 5%;
    }
}

@media (max-width: 550px) {
    header{
        font-size: 20px;
    }
    .container3{
    width: 350px;
    height: 2400px;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    }
    .container11{
        width:90%;
        margin: auto;
    }
    .header1{
        font-weight: 400;
        font-size: 40px;
    }
    .header2{
        font-weight: 400;
        font-size: 40px;
    }
    .container1{
        width:40%;
        font-size: 15px;
    }
    nav{
        width: 80%;
        font-size: 15px;
    }
    .trend{
    font-family: 'GABRIOLA';
    text-align: justify;
    font-size: 20px;
    font-weight: 520;
    }
    .container4{
        font-size: 10px;
        height: 150px;
    }
    .fa-arrow-alt-circle-up{
    font-size: 30px;
    }
}

